<h1>Here's your confirmation. Enjoy your time at Mt. Hood!</h1>
<ul>
<li><%= @camper1 %></li>
<li><%= @camper2 %></li>
<li><%= @camper3 %></li>
<li><%= @campground %></li>
<li><%= @equipment %></li>
</ul>
